body, html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.main {
    display: flex;
    gap: 30px;
}

.grid-item {
    user-select: none;
}
.grid-item-toggle {
    user-select: none;
    border: 1px solid black;;
}

.options {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 800px;
    box-shadow: 0px 0px 5px 1px gray;
}

.title {
    font-size: 36px;
}

input[type='color']:hover {
    transform: scale(1.05);
}
input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}
input[type='color'] {
    background-color: inherit;
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 1px gray;
}

.slider-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: gray;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: lightgray;
    cursor: pointer;
}
.slider-output {
    width: 90px;
    font-size: 20px;
}

.button {
    display: flex;
    width: 40%;
    height: 30px;
    background-color: lightgray;
    box-shadow: 0px 0px 5px 1px gray;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    user-select: none;
}
.button:hover {
    background-color: gray;
    color: white;
}
.button-selected {
    display: flex;
    width: 40%;
    height: 30px;
    background-color: gray;
    color: white;
    box-shadow: 0px 0px 5px 1px gray;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    user-select: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(64, 1fr);
    width: 800px;
    height: 800px;
    box-shadow: 0px 0px 5px 1px gray;
}